
<!-- Page Header -->

<md-card>
  <md-card-content>
    <div class="page-title">Team Details - Team D3</div>
    <div class="page-sub-title">Team #552</div>
  </md-card-content>
</md-card>


<!-- Team Information -->

<md-card>
  <div class="card-title">
    Team Information
  </div>

  <md-card-content layout="column" layout-gt-md="row">

    <!-- Left Column -->

    <table class="left-headers">
      <tr>
        <th>Region:</th>
        <td>US</td>
      </tr>

      <tr>
        <th>Business Unit:</th>
        <td>Americas → Managed Cloud</td>
      </tr>

      <tr>
        <th>Segment:</th>
        <td>Cloud Support</td>
      </tr>

      <tr>
        <th>Internal Phone:</th>
        <td><a href=""><i class="fa fa-phone"></i> 700-8600</a></td>
      </tr>

      <tr>
        <th>Internal Email:</th>
        <td>
          <div><a href="#">mcloudam@lists.rackspace.com</a></div>
          <div><a href="#">mcamus@lists.rackspace.com</a></div>
        </td>
      </tr>
    </table>

    <!-- Right Column -->

    <table class="left-headers">
      <tr>
        <th>Support Phone<br />(External):</th>
        <td>
          <div>US_MANAGED_SUPPORT</div>
          <div>
            <a href="#"><i class="fa fa-phone"> </i>1800 862 858</a>
            <i class="country">AU</i>
          </div>
          <div>
            <a href="#"><i class="fa fa-phone"> </i>800 901 084</a> 
            <i class="country">HK</i>
          </div>
          <div>
            <a href="#"><i class="fa fa-phone"> </i>08009880300</a> 
            <i class="country">INTL</i>
          </div>
          <div>
            <a href="#"><i class="fa fa-phone"> </i>080088990022</a>
            <i class="country">NL</i>
          </div>
          <div>
            <a href="#"><i class="fa fa-phone"> </i>0800 862 858</a>
            <i class="country">NZ</i>
          </div>
          <div>
            <a href="#"><i class="fa fa-phone"> </i>(855) 348-9057</a>
            <i class="country">US</i>
          </div>
        </td>
      </tr>
    </table>

  </md-card-content>
</md-card>


<!-- Chat Teams, Tags, and Badges -->

<md-card>
  <div class="card-title">
    Chat Teams, Tags, and Badges
  </div>

  <md-card-content>
    <table>
      <tr>
        <td>Chat Team</td>
        <td>
          <div>Prod // US Support Managed (Survey: US CORE/Managed)</div>
          <div><a href="#">US Managed Cloud Linux (Default)</a></div>
          <div><a href="#">US Managed Cloud Windows</a></div>
          <div><a href="#">Managed Cloud Account Managers</a></div>
          <div><a href="#">Managed Cloud Advisors</a></div>
        </td>
      </tr>
      <tr>
        <td>Tags</td>
        <td layout="row" layout-align="start start" layout-wrap>
          <div class="tag">cloud_us</div>
          <div class="tag">support-drawer</div>
          <div class="tag">team_d3</div>
          <div class="tag">test_tag0_6978a135</div>
          <div class="tag">test_tag1_a8d0015e</div>
          <div class="tag">test_tag_278d25b8</div>
          <div class="tag">test_tag_37135ac3</div>
          <div class="tag">test_tag_a58be608</div>
          <div class="tag">test_tag_d00687bd</div>
          <div class="tag">test_tag_e276ce88</div>
          <div class="tag">test_tag_f510c5e2</div>
        </td>
      </tr>
      <tr>
        <td>Badges</td>
        <td>None</td>
      </tr>
    </table>
  </md-card-content>
</md-card>


<div layout="column" layout-gt-md="row">

  <!-- Accounts -->

  <md-card flex>
    <div class="card-title">
      Accounts
    </div>
    <md-card-content>
      <table></table>
    </md-card-content>
  </md-card>


  <!-- Rackers -->

  <md-card flex>
    <div class="card-title">
      Rackers
    </div>

    <md-card-content>
      <table>
        <thead>
          <tr>
            <th>
              Name <i class="sort-icon desc"></i>
            </th>
            <th>
              Position
            </th>
          </tr>
        </thead>

        <tbody> 
          <tr>
            <td>Hussam Dawood (<a href="#">huss6594</a>)</td> 
            <td>Account Manager</td>
          </tr>

          <tr>
            <td>Josh Miller (<a href="#">josh5700</a>)</td> 
            <td>Account Manager</td>
          </tr>

          <tr>
            <td>Libni Ortiz-Valles (<a href="#">libni.ortizvalles</a>)</td> 
            <td>Account Manager</td>
          </tr>

          <tr>
            <td>Sivasubramanian Sundaresan (<a href="#">siva5049</a>)</td> 
            <td>Technical Account Manager</td>
          </tr>
        </tbody>
       </table>
    </md-card-content>
  </md-card>

</div>
